node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# app console config
agile-extension-276919-24ce2b3ce3db.json
agile-extension-276919-a57f584d16b4.json
